/* General Styling */

body{
  font-family: Verdana;
}

p{
  color: red;
}

div{
  color: green;
  font-size: 28px;
}

button{
  font-size: 24px;
}

/* Selective Styling */

#confirm-button{
  background-color: green;
  color: white;
}

p:nth-child(1) {
  font-size: 28px;
}

div.child{
  color: red;
  font-size: 18px;
}